- var importPrefix = 'https://www.mollywhite.net'

html(class='feed-editor', lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon.ico`)
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon-16x16.png` sizes='16x16' type='image/png')
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon-32x32.png` sizes='32x32' type='image/png')
    link(rel='apple-touch-icon' href=`${importPrefix || ''}/assets/images/icons/apple-touch-icon.png` sizes='180x180')
    link(rel='manifest', href=`${importPrefix || ''}/site.webmanifest`)
    link(rel='stylesheet', href=`${importPrefix || ''}/assets/styles/base-styles.css`)
    link(rel='stylesheet', href="/static/editor.css")
    link(rel='stylesheet', href="/static/feed.css")
    meta(name='theme-color', content='#191919')
    block head

  body
    .editor-container
      main
        .content-box
          if entryType == "citationNeeded"
            include ../../mixins/feed/citationNeededEntry.pug
            +citationNeededEntry(entry)
          else if entryType == "readingShortform"
            include ../../mixins/feed/readingEntry.pug
            +readingEntry(entry, entry.shortform)

        .content-box
          .content-container
            .input-group
              label(for="tags") Tags
              input#tags.form-control-sm(autocomplete="off", value=entry.tags.map(e => e._id).join(','))

        if entryType == "citationNeeded"
          .content-box
            .content-container
              details.social-links
                summary Manually link social post IDs
                each network in ["twitter", "mastodon", "bluesky", "threads", "youtube", "tiktok"]
                  - var socialLink = entry.socialLinks && entry.socialLinks.find(e => e.type === network)
                  .input-group
                    label(for=network) #{network.charAt(0).toUpperCase() + network.slice(1)}
                    input.social-post-id(id=network, type="text", value=socialLink ? socialLink.postId : "")

    footer.editor-footer
      .footer-controls
        .left-group
          button#save-button Save
          #last-edited
    
    script(src="/static/tagger.js")