.filters
  form#filters.filter-box
    label.title(for="filters") Filter

    label(for="tags") By tag
    fieldset#tags.tags
      each tag in allTags
        .button-group
          button.tag.category-tag(
            data-tag=tag.value
            aria-pressed=query.tags.includes(tag.value).toString()
            type="button"
          ) #{tag.text}
          if showTagCount && frequencyCategory
            span.tag-count (#{tag.frequency[frequencyCategory]})

    if showStatusFilter 
      label(for="tags") By reading status
      fieldset#status.tags
        each status in READING_STATUSES_LIST 
          .button-group
            button.tag.status-tag(
              data-tag=status.value
              aria-pressed=query.statuses.includes(status.value).toString()
              type="button"
            ) #{status.text}

    .search-form
      label(for="search") Search
      .search-group
        input#search-input(
          type="search",
          aria-label="Search articles on this page",
          value=query.search
        )
        button#search-submit(type="submit") Search

    button#clear-filters.link-styled(type="button") Clear filters

  .filter-subtext
    span.article-count 
      if totalResults !== totalUnfilteredResults
        | #{totalResults} results matching these filters out of #{totalUnfilteredResults} total results.
      else
        | #{totalUnfilteredResults} results

    button#sort-order.link-styled(
      type="button",
      data-order=query.order
    )
      i(
        class=['fas', query.order === 'reverse' ? 'fa-caret-up' : 'fa-caret-down']
      )
      |  
      != (query.order === reverse) ? 'Newest' : 'Oldest'
      |  first