if totalPages
  label(for="paginator") Page
    fieldset#paginator
      if totalPages > 20
        - var startPage = Math.max(1, currentPage - 10)
        - var endPage = Math.min(totalPages, startPage + 20)
        
        if startPage !== 1
          button#jump-to-start(
            aria-pressed=false
            type="button"
          ) <<
          span ...
        - for (var pageNumber = startPage; pageNumber <= endPage; pageNumber++)
          button.page-number-button(
            data-page-number=pageNumber,
            aria-pressed=pageNumber === currentPage
            type="button"
          ) #{pageNumber}
        if endPage !== totalPages
          span ...
          button#jump-to-end(
            data-last-page=totalPages,
            aria-pressed=false
            type="button"
          ) >>

      else
        - for (var pageNumber = 1; pageNumber <= totalPages; pageNumber++)
          button.page-number-button(
            data-page-number=pageNumber,
            aria-pressed=pageNumber === currentPage
            type="button"
          ) #{pageNumber}