.filters
  form#filters.filter-box
    label.title(for="filters") Filter

    label(for="tags") By topic area
    fieldset#tags.tags
      each topic in allTopics
        .button-group
          button.tag.category-tag(
            data-tag=topic.value,
            aria-pressed=query.topics.includes(topic.value).toString()
            type="button"
          ) #{topic.text}
          if showTagCount
            span.tag-count (#{topic.frequency})

    .checkboxes-wrapper
      .checkboxes 
        .checkbox-group
          input(
            type="checkbox"
            name="wikipedia"
            value="Created" 
            checked=query.created
            id="created"
          )
          label(for="created") Created
        .checkbox-group
          input(
            type="checkbox"
            name="wikipedia"
            value="Translation" 
            checked=query.translation
            id="translation"
          )
          label(for="translation") Translation

      .checkboxes 
        .checkbox-group
          input(
            type="checkbox"
            name="wikipedia"
            value="Biography" 
            checked=query.bio
            id="biography"
          )
          label(for="biography") Biography
        .checkbox-group
          input(
            type="checkbox"
            name="wikipedia"
            value="Women in Red" 
            checked=query.wir
            id="wir"
          )
          label(for="wir") Women in Red 
        
      .checkboxes 
        .checkbox-group
          input(
            type="checkbox"
            name="wikipedia"
            value="Good article" 
            checked=query.ga
            id="ga"
          )
          label(for="ga") Good article
        .checkbox-group
          input(
            type="checkbox"
            name="wikipedia"
            value="Did you know" 
            checked=query.dyk
            id="dyk"
          )
          label(for="dyk") Did you know

    .search-form
      label(for="search") Search
      .search-group
        input#search-input(
          type="search",
          aria-label="Search articles on this page",
          value=query.search
        )
        button#search-submit(type="submit") Search

    button#clear-filters.link-styled(type="button") Clear filters

  .filter-subtext
    span.article-count 
      if totalResults !== totalUnfilteredResults
        | #{totalResults} results matching these filters out of #{totalUnfilteredResults} total results.
      else
        | #{totalUnfilteredResults} results

    button#sort-order.link-styled(
      type="button",
      data-order=query.order
    )
      i(
        class=['fas', query.order === 'reverse' ? 'fa-caret-up' : 'fa-caret-down']
      )
      |  
      != (query.order === reverse) ? 'Most recent' : 'Least recent'