doctype xml 
feed(xmlns="http://www.w3.org/2005/Atom" xmlns:webfeeds="http://webfeeds.org/rss/1.0")
  id=`https://www.mollywhite.net/reading/${prefix}/feed.xml`
  title(type="html")= `Molly White's ${prefix[0].toUpperCase()}${prefix.slice(1)} Reading List`
  author
    name Molly White 
    email molly@mollywhite.net 
    uri https://www.mollywhite.net
  link(rel="self" href=`https://mollywhite.net/reading/${prefix}/feed.xml`)
  link(rel="alternate" href=`https://mollywhite.net/reading/${prefix}`)
  icon https://mollywhite.net/assets/images/icons/apple-touch-icon.png
  logo https://www.mollywhite.net/assets/images/molly_illustration.png
  webfeeds:icon https://www.mollywhite.net/assets/images/molly_illustration.png
  webfeeds:cover(image="https://www.mollywhite.net/assets/images/molly_illustration_social.png")
  webfeeds:accentColor #5948a4 
  updated= results[0].entryAdded
  rights(type="html")= 'Copyright &copy; Molly White&nbsp;' + new Date().getFullYear() + '.'

  each article, index in results
    - var entryUrl = `https://mollywhite.net/reading/${prefix}?search=${encodeURIComponent(article.title)}`
    entry
      title(type="html")= article.title 
      link(href=entryUrl rel="alternate" type="text/html" title=article.title)
      published= article.entryAdded
      updated= article.entryAdded
      id #{entryUrl}
      content(xml:base=`https://mollywhite.net/reading/${prefix}` type="html")= article.entryHtml 
      summary(type="text")= article.rssSummary
      if article.tags && article.tags.length
        each tag in article.tags 
          category(term=tag.value, label=tag.text)
