- var importPrefix = 'https://www.mollywhite.net'

html(class='feed-editor', lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon.ico`)
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon-16x16.png` sizes='16x16' type='image/png')
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon-32x32.png` sizes='32x32' type='image/png')
    link(rel='apple-touch-icon' href=`${importPrefix || ''}/assets/images/icons/apple-touch-icon.png` sizes='180x180')
    link(rel='manifest', href=`${importPrefix || ''}/site.webmanifest`)
    link(rel='stylesheet', href=`${importPrefix || ''}/assets/styles/base-styles.css`)
    link(rel='stylesheet', href="/static/editor.css")
    meta(name='theme-color', content='#191919')
    include ../../templates/titleAndDescription.pug
    +titleAndDescription('Editor', "Micro post editor")
    block head

  body
    .editor-container
      #loading-overlay.overlay
        include ../../includes/loadingSpinner
      #error-overlay.overlay.hidden
        .flex-column
          h1 Error
          p.error-message
      main
        .content-box
          .content-container
            .back-links
              div
                a(href="/feed") &laquo; Back to the activity feed
              div
                a(href="/micro") &laquo; Back to the microblog feed
            input#title(type="text", placeholder="Post title")
          #editorjs
          
          .content-container
            hr
            .input-group
              label(for="slug") Slug
              input#slug(type="text", placeholder="post-title")

            .input-group
              label(for="tags") Tags
              input#tags.form-control-sm(autocomplete="off")

            .input-group 
              label(for="related") Related posts
              select#related.form-control-sm
    .social-container
      .content-box
        .content-container
          .input-group
            input#social-posts(type="checkbox")
            label(for="social-posts")
              h2 Social posts
      .social-editors.hidden
        each network in ["twitter", "mastodon", "bluesky"]
          .social-editor-wrapper
            .input-group
              input.social-network-toggle(id=`${network}-social` type="checkbox", checked="checked")
              label.social-network-toggle-label(for=`${network}-social`)
                h3 #{network.charAt(0).toUpperCase() + network.slice(1)}
            if network == "mastodon"
              .input-group
                label(for="mastodon-tags") Mastodon tags
                input#mastodon-tags(type="text")
            .social-editor(id=`${network}-editor`)

      .content-box
        .content-container
          details.social-links
            summary Manually link social post IDs
            each network in ["twitter", "mastodon", "bluesky", "youtube", "tiktok"]
              - var socialLink = entry.socialLinks && entry.socialLinks.find(e => e.type === network)
              .input-group
                label(for=network) #{network.charAt(0).toUpperCase() + network.slice(1)}
                input.social-post-id(id=network, type="text", value=socialLink ? socialLink.postId : "")

    footer.editor-footer
      .footer-group
        #last-edited
      .footer-group.footer-controls
        .left-group
          button#save-button Save

        .right-group
          button#delete-button.hidden Delete
          button#signOut Sign out
    script(src="/static/editor.js")