extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p
      | In the beginning of February, I made a commitment to myself to read at least two articles a 
      | week pertaining to diversity, inclusion, and belonging (DI&amp;B). I believe constant 
      | learning on these topics, and their intersection with the technology industry, is not 
      | optional and is key to being both a good manager and team member, but also to being a 
      | conscientous participant in the industry.
    p
      | I have been maintaining a private list of these articles, along with a brief summary, but 
      | realized it might be useful to others looking to do the same thing to publish my list here. 
      | I will continue to update it as I read more, though because it is much easier for me to 
      | take private notes than update this page, it may lag behind somewhat.
    p
      | I care very much about making sure I am consuming a representative and wide range of 
      | topics in this area, and so welcome suggestions and recommendations! 
      | If you know of anything I ought to be reading, please 
      a(href="/contact") send it my way
      | .

    h3(aria-sort=query.order === 'reverse' ? 'descending' : 'ascending') DI&amp;B reading list

    .filters
      form#filters.filter-box
        label.title(for="filters") Filter
        label(for="tags") By tag
        fieldset#tags.tags
          each tag in allTags
            .button-group
              button(
                class=['tag', 'tag-' + tag.value],
                onclick='onTagClick("' + tag.value + '")',
                aria-pressed=query.tags.includes(tag.value).toString()
                type="button"
              ) #{tag.text}
              span.tag-count (#{tag.frequency})

        .search-form
          label(for="search") Search
          .search-group
            input#search-input(
              type="search",
              aria-label="Search articles on this page",
              value=query.search
            )
            button#search-submit(type="submit") Search

        button.link-styled(type="button", onClick='clearFilters()') Clear filters

      .filter-subtext
        span.article-count 
          if totalResults !== totalUnfilteredResults
            | #{totalResults} results matching these filters out of #{totalUnfilteredResults} total results.
          else
            | #{totalUnfilteredResults} results

        button.link-styled(
          type="button",
          onclick='changeSortOrder("' + (query.order === 'reverse' ? 'normal' : 'reverse') + '")'
        )
          i(
            class=['fas', query.order === 'reverse' ? 'fa-caret-up' : 'fa-caret-down']
          )
          |  
          != (query.order === reverse) ? 'Newest' : 'Oldest'
          |  first

    .articles
      #articlesContainer
        include ../mixins/dibArticle.pug
        each article in results
          +dibArticle(article)

    label(for="paginator") Page
    fieldset#paginator
      - for (var pageNumber = 1; pageNumber <= totalPages; pageNumber++)
        button(
          onClick='onPageChangeClick(' + pageNumber + ')',
          aria-pressed=pageNumber === currentPage
          type="button"
        ) #{pageNumber}

block pre-javascript
  script(
    src="/static/url-search-params-polyfill.js"
  )
  script(
    src="/static/classlist-polyfill.js"
  )
block post-javascript
  script(src="/static/reading.js")
