extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true 

block head
  link(rel="alternate", type="application/rss+xml", title="Molly White's DI&B Reading List", href="https://mollywhite.net/reading/dib/feed.xml")
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)
  include ../symlinks/mixins/titleAndDescription.pug
  +titleAndDescription('DI&B reading', 'Molly White\'s diversity, inclusion, and belonging reading list.')
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p
      | I care very much about making sure I am consuming a representative and wide range of 
      | topics in this area, and so welcome suggestions and recommendations! If you know of
      | anything I ought to be reading, please 
      a(href="/contact") send it my way
      | .

    h3(aria-sort=query.order === 'reverse' ? 'ascending' : 'descending') DI&amp;B reading list

    include ../includes/filters.pug

    .articles
      #articlesContainer
        include ../mixins/dibArticle.pug
        each article in results
          +dibArticle(article)

    include ../includes/paginator.pug

block pre-javascript
  script(
    src="/static/url-search-params-polyfill.js"
  )
  script(
    src="/static/classlist-polyfill.js"
  )
block post-javascript
  script(src="/static/reading.js")
