extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';

block head
  link(rel="stylesheet", href="/css/reading.css")

block body
  .content-box
    p I feel it is important for the public to understand Wikipedia—foremost
      | how it works, but also the challenges we face as a project,
      | particularly when it comes to diversity of editors and
      | content. I also sometimes speak about technology, diversity, and
      | online harassment, both in and outside of the context of Wikipedia.

    h3(aria-sort=query.order === 'reverse' ? 'descending' : 'ascending') Press and other mentions

    .filters
      form#filters.filter-box
        label.title(for="filters") Filter
        label(for="tags") By tag
        fieldset#tags.tags
          each tag in allTags
            button(
              class=['tag', 'tag-' + tag.value],
              onclick='onTagClick("' + tag.value + '")',
              aria-pressed=query.tags.includes(tag.value).toString()
            ) #{tag.text}

        .search-form
          label(for="search") Search
          .search-group
            input#search-input(
              type="search",
              aria-label="Search articles on this page",
              value=query.search
            )
            button#search-submit(type="submit") Search

      .filter-subtext
        span.article-count 
          if totalResults !== totalUnfilteredResults
            | #{totalResults} results matching these filters out of #{totalUnfilteredResults} total results.
          else
            | #{totalUnfilteredResults} results

        button.sort-order(
          onclick='changeSortOrder("' + (query.order === 'reverse' ? 'normal' : 'reverse') + '")'
        )
          i(
            class=['fas', query.order === 'reverse' ? 'fa-caret-up' : 'fa-caret-down']
          )
          |  
          != (query.order === reverse) ? 'Newest' : 'Oldest'
          |  first

    .articles
      #articlesContainer
        include ../mixins/pressArticle.pug
        each article in results
          +pressArticle(article)

    label(for="paginator") Page
    fieldset#paginator
      - for (var pageNumber = 1; pageNumber <= totalPages; pageNumber++)
        button(
          onClick='onPageChangeClick(' + pageNumber + ')',
          aria-pressed=pageNumber === currentPage
        ) #{pageNumber}

block pre-javascript
  script(
    src="static/url-search-params-polyfill.js"
  )
  script(
    src="static/classlist-polyfill.js"
  )
block post-javascript
  script(src="static/press.js")
