extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var page = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)
  include ../symlinks/mixins/titleAndDescription.pug
  +titleAndDescription('Reading', 'Interested in what I\'m reading these days? Check out my reading lists.')
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p Interested in what I'm reading these days? Check out my reading lists.

    .reading-section
      h3
        a(href="/reading/shortform") Shortform reading list 

      .reading-section-body  
        | I most recently  
        =mostRecentShortform.parenthetical === 'Video' ? 'watched' : 'read'
        |  "
        a(href=mostRecentShortform.href) #{mostRecentShortform.title} 
        | "
        if mostRecentShortform.author
          |  by #{mostRecentShortform.author} #{mostRecentShortform.preposition}  

          if mostRecentShortform.work
            if !mostRecentShortform.workItalics
              | #{mostRecentShortform.work}.
            else
              i #{mostRecentShortform.work}.

          if mostRecentShortform.publisher
            |  #{mostRecentShortform.publisher}.

          if !mostRecentShortform.work && !mostRecentShortform.publisher
            |.
        else 
          |.
    
    .reading-section
      h3
        a(href="/reading/blockchain") Blockchain reading list 

      .reading-section-body  
        | I most recently  
        if mostRecentBlockchain.parenthetical && mostRecentBlockchain.parenthetical === 'Video'
          |  watched 
        else if mostRecentBlockchain.parenthetical && mostRecentBlockchain.parenthetical.indexOf("odcast") > -1
          |  listened to 
        else if mostRecentBlockchain.status === 'currentlyReading'
          |  started reading 
        else
          |  read 
        if mostRecentBlockchain.parenthetical && mostRecentBlockchain.parenthetical === "Book" 
          a(href=mostRecentBlockchain.href)
            i #{mostRecentBlockchain.title}
        else
          | "
          a(href=mostRecentBlockchain.href) #{mostRecentBlockchain.title}
          | "
        if mostRecentBlockchain.author
          |  by #{mostRecentBlockchain.author}

          if mostRecentBlockchain.work
            |  #{mostRecentBlockchain.preposition} 
            if !mostRecentBlockchain.workItalics
              | #{mostRecentBlockchain.work}.
            else
              i #{mostRecentBlockchain.work}.

          if mostRecentBlockchain.publisher
            | . #{mostRecentBlockchain.publisher}.

          if !mostRecentBlockchain.work && !mostRecentBlockchain.publisher
            |.
        else 
          |.
          
    .reading-section
      h3
        a(href="/reading/pleasure") Pleasure
      .reading-section-body  
        include ../mixins/currentlyReadingSummary.pug
        +currentlyReadingSummary(currentlyReadingPleasure)
        
    .reading-section
      h3
        a(href="/reading/reference") Reference 
      .reading-section-body  
        | Books I'm reading for reference purposes. Most of my reference reading is related to Wikipedia articles I'm
        | working on, but I also include educational but non-work-related reading in this list.
        include ../mixins/currentlyReadingSummary.pug
        +currentlyReadingSummary(currentlyReadingReference)
        
    .reading-section
      h3
        a(href="/reading/work") Work-related
      .reading-section-body  
        include ../mixins/currentlyReadingSummary.pug
        +currentlyReadingSummary(currentlyReadingWork)
        