extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var page = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)
  include ../symlinks/mixins/titleAndDescription.pug
  +titleAndDescription('Reading', 'Interested in what I\'m reading these days? Check out my reading lists.')
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p Interested in what I'm reading these days? Check out my reading lists.

    .reading-section
      h3
        a(href="/reading/dib") DI&amp;B reading list 
      | This is updated often, as I try to read at least two articles a week on these topics. 
      | I most recently read "
      a(href=mostRecentDib.href) #{mostRecentDib.title} 
      | "
      if mostRecentDib.author
        | by #{mostRecentDib.author} #{mostRecentDib.preposition} 

        if mostRecentDib.work
          if !mostRecentDib.workItalics
            | #{mostRecentDib.work}.
          else
            i #{mostRecentDib.work}.

        if mostRecentDib.publisher
          |  #{mostRecentDib.publisher}.

        if !mostRecentDib.work && !mostRecentDib.publisher
          |.
      else 
        |.
        
    .reading-section
      h3
        a(href="/reading/pleasure") Pleasure
      include ../mixins/currentlyReadingSummary.pug
      +currentlyReadingSummary(currentlyReadingPleasure)
        
    .reading-section
      h3
        a(href="/reading/wikipedia") Wikipedia
      include ../mixins/currentlyReadingSummary.pug
      +currentlyReadingSummary(currentlyReadingWikipedia)
        
    .reading-section
      h3
        a(href="/reading/work") Work-related
      include ../mixins/currentlyReadingSummary.pug
      +currentlyReadingSummary(currentlyReadingWork)
        