extends ../templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true 

block head
  link(rel="alternate", type="application/rss+xml", title="Molly White's Shortform Reading List", href="https://mollywhite.net/reading/shortform/feed.xml")
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)
  include ../templates/titleAndDescription.pug
  +titleAndDescription('Shortform reading', 'Molly White\'s shortform reading list.')
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    a(href="/reading") < All reading lists
    p
      | This is an incomplete list of the shortform reading (and listening and watching) I've been doing lately.

    h3(aria-sort=query.order === 'reverse' ? 'ascending' : 'descending') Shortform reading list 
    div.rss-link
      i.fas.fa-rss(aria-hidden="true") 
      |  
      a(href="https://mollywhite.net/reading/shortform/feed.xml", target="_blank") Subscribe 

    include ../includes/filters.pug

    .articles
      #articlesContainer
        include ../mixins/shortformArticle.pug
        each article in results
          +shortformArticle(article)

    include ../includes/paginator.pug

block pre-javascript
  script(
    src="/static/url-search-params-polyfill.js"
  )
  script(
    src="/static/classlist-polyfill.js"
  )
block post-javascript
  script(src="/static/reading.js")
