
mixin book(book, embedded=false) 
  - var READING_STATUSES_MAP =  {'currentlyReading': "Currently reading", 'read': "Read", "dnf": "Did not finish", "reference": "Reference"}
  .book.h-entry.hentry
    if book.imageSrc 
      if embedded || book.href
        - var link = embedded ? `https://www.mollywhite.net/reading/books?search=${encodeURIComponent(book.title)}` : book.href;
        a.book-cover-link(href=link)
          img.u-photo(
            class={'book-cover': true, 'bordered': book.border},
            src=book.imageSrc,
            alt=`Cover image of ${book.title}`
          )
      else
        img.u-photo(
          class={'book-cover': true, 'bordered': book.border},
          src=book.imageSrc,
          alt=`Cover image of ${book.title}`
        )

    .book-details
      if book.series
        .series-info
          i #{book.series}
          |  series
          if book.seriesNumber
            | , book #[span.series-number #{book.seriesNumber}]
          | . 
      .title
        i.p-name #{book.title}

        if book.subtitle 
          .subtitle 
            i #{book.subtitle}
        |  


      .byline
        if book.author
          | by  
          include ./author.pug
          +author(book.author)
        if book.editor 
          if book.author 
            |  
          | #{book.editor} (ed.).

      .book-info
        if book.publisher
          |  #{book.publisher}
          if !book.formattedDate
            | .
          else
            | , #[time.dt-published.published(datetime=book.date) #{book.formattedDate}].
        else 
          if book.formattedDate
            | #[time.dt-published.published(datetime=book.date) #{book.formattedDate}]. 
        if book.pages 
          |  #{book.pages} pages. 
      
      if !embedded && book.tags && book.tags.length
        .tags
          each tag, index in book.tags
            span.p-category #{typeof tag === 'string' ? tag.replace(/_/g, " ") : tag.text}
            if index !== book.tags.length - 1
              | , 
      
      .reading-info
        if !shortForm && !embedded && book.status && book.status in READING_STATUSES_MAP
          div.p-category(class=['status', book.status])
            != READING_STATUSES_MAP[book.status][0].toUpperCase() + READING_STATUSES_MAP[book.status].substr(1)
        
        if book.formattedStarted
          .reading-dates 
            | Started #[time.dt-accessed.accessed(datetime=book.started) #{book.formattedStarted}]
            if !book.formattedCompleted
              | .
            else 
              | ; completed #{book.formattedCompleted}.