mixin book(book) 
  div(class='book')
    if book.imageSrc 
      if book.href && !shortForm
        a(href=book.href)
          img(
            class={'book-cover': true, 'bordered': book.border},
            src=book.imageSrc,
            alt="Cover image of #{book.title}"
          )
      else
        img(
          class={'book-cover': true, 'border': book.border},
          src=book.imageSrc,
          alt="Cover image of #{book.title}"
        )

    .book-details
      if book.type === "chapter"
        .chapter-title "#{book.chapterTitle}".
      div.title
        if book.type === "chapter"
          | in 
        i #{book.title}

        if book.subtitle 
          .subtitle 
            i #{book.subtitle}

      div.byline
        if book.author
          | #{book.author}
          if !shortForm
            | .
        if book.editor 
          if book.author 
            |  
          | #{book.editor} (ed.).

        if !shortForm
          if book.publisher
            |  Published by #{book.publisher}
            if !book.formattedDate
              | .
            else
              | , #{book.formattedDate}.
          else 
            if book.formattedDate
              | Published #{book.formattedDate}. 
      
      if !shortForm
        .reading-info
          if book.status 
            div(class=['status', book.status])
              != READING_STATUSES_MAP[book.status][0].toUpperCase() + READING_STATUSES_MAP[book.status].substr(1)
          
          if book.formattedStarted
            .reading-dates 
              | Started #{book.formattedStarted}
              if !book.formattedCompleted
                | .
              else 
                | ; completed #{book.formattedCompleted}.
            
      if book.tags
        div(class="tags")
          span.tags= book.tags.map(function(t) { return t.text }).join(', ')