- var shortForm = true
mixin currentlyReadingArticleSummary(mostRecent)
  | I most recently  
  include ./verb.pug
  +verb(mostRecent, to=true)
  |  "
  a(href=mostRecent.href) #{mostRecent.title} 
  | "
  if mostRecent.author
    |  by #{mostRecent.author} 

  if (mostRecent.work || mostRecent.publisher)
    if mostRecent.preposition != null 
      |  #{mostRecent.preposition} 
    else if mostRecent.work
      |  in 
    else 
      |  for
  else
    |.

  if mostRecent.work
    if mostRecent.workItalics === false
      | #{mostRecent.work}.
    else
      i #{mostRecent.work}.

  if mostRecent.publisher
    |  #{mostRecent.publisher}.