mixin pressArticle(article)
  .article
    .title
      a(href=article.href) "#{article.title}"

      if article.parenthetical
        |  (#{article.parenthetical})

      if article.parenthetical || !article.title.match(/[.?!]$/m)
        |.

    .byline
      if article.author
        | #{article.author}

      if (article.work || article.publisher)
        if article.preposition != null 
          |  #{article.preposition} 
        else if article.work
          |  in 
        else 
          |  for
      else 
        |.

      if article.work
        if article.workItalics === false
          | #{article.work}.
        else
          i #{article.work}.

      if article.publisher
        |  #{article.publisher}.

      if article.formattedDate
        |  #{article.formattedDate}.

    if article.tags && article.tags.length
      .tags
        span.tags= article.tags.map(function(t) { return t.text }).join(', ')