mixin pressArticle(article, rss=false, feed=false, embedded=false)
  div(class=`article ${feed ? 'h-cite hcite' : 'h-entry hentry'}`)
    .title
      a.u-url.u-repost-of(class=embedded ? 'u-in-reply-to' : '', href=article.href, rel="bookmark")
        | "
        span.p-name #{article.title}
        | "

      if article.parenthetical
        |  (#{article.parenthetical})

      if article.parenthetical || !article.title.match(/[.?!]$/m)
        |.

    .byline
      include ./author.pug
      +author(article.author)

      if (article.work || article.publisher)
        if article.preposition != null 
          |  #{article.preposition} 
        else if article.work
          |  in 
        else 
          |  for
      else 
        |.

      if article.work
        if article.workItalics === false
          span.p-publication #{article.work}
        else
          i.p-publication #{article.work}
        | . 

      if article.publisher
        |  #{article.publisher}. 

      if article.formattedDate
        |#[time.dt-published.published(datetime=article.date) #{article.formattedDate}].

    if !rss && !feed && article.tags && article.tags.length
      .tags 
        span.tags
          each tag, index in article.tags
            span.p-category #{tag.text}
            if index !== article.tags.length - 1
              | , 
