mixin shortformArticle(article, rss=false, feed=false, embedded=false)
  div(class=`article ${feed ? 'h-cite hcite' : 'h-entry hentry'}`)
    if rss
      if article.image 
        img.u-photo(src=article.image.src, class="webfeedsFeaturedVisual", alt=article.image.alt, style="max-width: 300px;")

    .title
      a.u-url.u-repost-of(class=embedded ? 'u-in-reply-to' : '', href=article.href, rel="bookmark")
        |"#[span.p-name #{article.title}]"

      if article.parenthetical
        |  (#{article.parenthetical})

      if article.parenthetical || article.title && !article.title.match(/[.?!]$/m)
        |. 

    .byline
      include ./author.pug
      +author(article.author)
      
      if article.work || article.publisher 
        if article.preposition != null 
          |  #{article.preposition} 
        else if article.work
          |  in 
        else 
          |  for 
      else
        |. 

      if article.work
        if article.workItalics === false
          span.p-publication #{article.work}
        else
          i.p-publication #{article.work}
        | . 

      if article.publisher
        |  #{article.publisher}.

      if feed
        span.read-date
          if article.formattedDate
            |  Published #[time.dt-published.published(datetime=article.date) #{article.formattedDate}].

        if !feed
          include ./verb.pug
          +verb(article, to=false, capitalize=true)
          | on #[time.dt-accessed.accessed(datetime=article.started) #{article.formattedStarted}]
    
    if !feed
      .details
        span.read-date
          if article.formattedDate
            | Published #[time.dt-published.published(datetime=article.date) #{article.formattedDate}].

          if !feed
            include ./verb.pug
            +verb(article, to=false, capitalize=true)
            | on #[time.dt-accessed.accessed(datetime=article.started) #{article.formattedStarted}]. 

    if feed && article.summary
      blockquote.summary.p-summary.entry-summary
        != article.summary
    else if article.summary
      .summary.p-summary.entry-summary
        != article.summary
    
    if article.relatedReading && article.relatedReading.length 
      .related-reading
        if !rss
          i.fab.fa-wikipedia-w
        span.header Related reading: 

        each rr, index in article.relatedReading
          a(href=rr.href) #{rr.title}
          if index !== article.relatedReading.length - 1
            | , 
      
    if rss && !embedded
      img(src="https://www.mollywhite.net/assets/images/placeholder_social.png", alt="Illustration of Molly White sitting and typing on a laptop, on a purple background with 'Molly White' in white serif.", style="display: none;")

    if !rss && !feed && article.tags && article.tags.length
      .tags 
        span.tags
          each tag, index in article.tags
            span.p-category #{tag.text}
            if index !== article.tags.length - 1
              | , 
