mixin verb(article, to=false, capitalize=false)
  if article.parenthetical && article.parenthetical === 'Video'
    |  #{capitalize ? "W" : "w"}atched 
  else if article.parenthetical && article.parenthetical.indexOf("odcast") > -1
    |  #{capitalize ? "L" : "l"}istened #{to ? "to " : ""}
  else if article.status === 'currentlyReading'
    |  #{capitalize ? "S" : "s"}tarted reading 
  else
    |  #{capitalize ? "R" : "r"}ead 