mixin wikipediaArticle(article)
  .article.flex
    .left
      .top
        .title 
          a(href='https://en.wikipedia.org/wiki/' + article.title.replace(' ', '_'))
            if article.italicTitle 
              i #{article.title}
            else 
              | #{article.title}
        | #{article.description}
        .details
          if article.created
            | Created article in #{article.formattedDate}
          else 
            | Began editing in #{article.formattedDate}
          if article.translation 
            |; translated from the 
            a(href=article.translation.href) #{article.translation.text}

      .bottom
        .icons
          if article.created
            .icon-image
              img.bw-icon(
                src=`${importPrefix}/storage/plus.svg`
                aria-hidden="true"
                title="Created"
              )
              .sr-only Created
          if article.biography 
            .icon-image
              img.bw-icon(
                src=`${importPrefix}/storage/person.svg`
                aria-hidden="true"
                title="Biography"
              )
              .sr-only Biography
          if article.translation
            .icon-image
              img.bw-icon(
                src=`${importPrefix}/storage/translation.svg`
                aria-hidden="true"
                title="Translation"
              )
              .sr-only Translation 
          if article.WIR 
            .icon-image
              a(href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women_in_Red")
                img.bw-icon(
                  src=`${importPrefix}/storage/wir.svg`
                  aria-hidden="true"
                  title="Under the purview of WikiProject Women in Red"
                )
                .sr-only WikiProject Women in Red
          if article.ga
            .icon-image
              a(href="https://en.wikipedia.org/wiki/Wikipedia:Good_articles")
                img.bw-icon(
                  src=`${importPrefix}/storage/ga.svg`
                  aria-hidden="true"
                  title=`${article.ga} good article`
                )
                .sr-only `${article.ga} good article`
          if article.dyk
            .icon-image
              a(href=article.dyk.href)
                img.bw-icon(
                  src=`${importPrefix}/storage/dyk.svg`
                  aria-hidden="true"
                  title=`${article.dyk.year} did you know article`
                )
                .sr-only `${article.dyk.year} good article`

        if article.topics && article.topics.length
          .tags
            span.tags= article.topics.map(function(t) { return t.text }).join(', ')

    if article.image 
      .right
        .image 
          img(src=article.image.src)
        .caption
          | #{article.image.caption}.
          | (
          a(href=article.image.href) Attribution
          | )