mixin wikipediaArticle(article)
  .article.flex.h-entry.hentry
    .left
      .top
        .title 
          a.u-url(href='https://en.wikipedia.org/wiki/' + article.title.replace(' ', '_'))
            if article.italicTitle 
              i.p-name #{article.title}
            else 
              span.p-name #{article.title}
        span.p-summary #{article.description}
        .details
          if article.created
            | Created article in #[time.dt-published.published(datetime=article.date) #{article.formattedDate}]
          else 
            | Began editing in #[time(datetime=article.date) #{article.formattedDate}]
          if article.translation 
            |; translated from the 
            a(href=article.translation.href, rel="alternate") #{article.translation.text}

      .bottom
        .icons
          if article.created
            .icon-image
              img.bw-icon(
                src=`${importPrefix}/storage/plus.svg`
                aria-hidden="true"
                title="Created"
              )
              .sr-only.p-category Created
          if article.biography 
            .icon-image
              img.bw-icon(
                src=`${importPrefix}/storage/person.svg`
                aria-hidden="true"
                title="Biography"
              )
              .sr-only.p-category Biography
          if article.translation
            .icon-image
              img.bw-icon(
                src=`${importPrefix}/storage/translation.svg`
                aria-hidden="true"
                title="Translation"
              )
              .sr-only.p-category Translation 
          if article.WIR 
            .icon-image
              a(href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women_in_Red")
                img.bw-icon(
                  src=`${importPrefix}/storage/wir.svg`
                  aria-hidden="true"
                  title="Under the purview of WikiProject Women in Red"
                )
                .sr-only.p-category WikiProject Women in Red
          if article.ga
            .icon-image
              a(href="https://en.wikipedia.org/wiki/Wikipedia:Good_articles")
                img.bw-icon(
                  src=`${importPrefix}/storage/ga.svg`
                  aria-hidden="true"
                  title=`${article.ga} good article`
                )
                .sr-only.p-category `${article.ga} good article`
          if article.dyk
            .icon-image
              a(href=article.dyk.href)
                img.bw-icon(
                  src=`${importPrefix}/storage/dyk.svg`
                  aria-hidden="true"
                  title=`${article.dyk.year} did you know article`
                )
                .sr-only.p-category `${article.dyk.year} good article`

        if article.topics && article.topics.length
          .tags
            span.tags
              each topic, index in article.topics
                span.p-category #{topic.text}
                if index !== article.topics.length - 1
                  | , 


    if article.image 
      .right
        .image 
          img.u-photo(src=article.image.src)
        .caption
          | #{article.image.caption}.
          | (
          a(href=article.image.href) Attribution
          | )