block vars
doctype html
html(class=`no-js ${htmlClass}`, lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property='og:image', content=`${importPrefix || ''}/assets/images/molly_illustration.png`)
    meta(property='og:image:alt', content='An illustration of Molly sitting crosslegged with a laptop on her lap')
    meta(name='twitter:image', content=`${importPrefix || ''}/assets/images/molly_illustration.png`)
    meta(name='twitter:image:alt', content='An illustration of Molly sitting crosslegged with a laptop on her lap')
    meta(property='og:site_name', content='Molly White')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(name="twitter:card", content="summary")
    meta(name="twitter:creator", content="@molly0xfff")
    meta(name="twitter:creator:id", content="545445165")
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon.ico`)
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon-16x16.png` sizes='16x16' type='image/png')
    link(rel='icon' href=`${importPrefix || ''}/assets/images/icons/favicon-32x32.png` sizes='32x32' type='image/png')
    link(rel='apple-touch-icon' href=`${importPrefix || ''}/assets/images/icons/apple-touch-icon.png` sizes='180x180')
    link(rel='manifest', href=`${importPrefix || ''}/site.webmanifest`)
    link(rel='stylesheet', href=`${importPrefix || ''}/assets/styles/base-styles.css`)
    link(rel='stylesheet', href="/static/reading.css")
    link(rel='me', href='https://hachyderm.io/@molly0xfff')
    link(rel="webmention", href="https://www.mollywhite.net/webmention")
    meta(name='theme-color', content='#191919')
    block head

  body
    .page-container
      include ./includes/navigation.pug
      block body

    block pre-javascript
    script(src=`${importPrefix || ''}/assets/js/main.js`)
    script(src=`${importPrefix || ''}/assets/js/nav.js`)
    block post-javascript
