mixin citationNeededEntry(entry,  {isLoggedIn=false} = {})
  article.entry.h-entry.hentry
    header
      .post-icon.icon
        a(href=`https://www.citationneeded.news/${entry.slug}`)
          include ../../icons/brackets.svg
        .description Published an issue of 
          a(href="https://www.citationneeded.news/")
            i Citation Needed
          |:
      h2.p-name
        a.u-syndication(href=`https://www.citationneeded.news/${entry.slug}` rel="syndication") #{entry.title}
    .p-content
      if entry.image
        .media-wrapper
          a(href=`https://www.citationneeded.news/${entry.slug}`)
            img(src=entry.image alt=entry.imageAlt)
      .p-summary
        != entry.excerpt

    footer.footer
      .flex-row.post-meta
        .timestamp
          a(href=`https://www.citationneeded.news/${entry.slug}`)
            time.dt-published(datetime=entry.createdAt.toISOString(), title=entry.absoluteTime) #{entry.humanTime}
          if isLoggedIn
            span.edit-icon.icon
              a(href=`/feed/tagger/citationNeeded/${entry._id}`)
                include ../../icons/pencil.svg
        .social-links 
          if entry.socialLinks && entry.socialLinks.length 
            span Also posted to:
            each socialLink in entry.socialLinks
              a(class=`social-link u-syndication ${socialLink.type}` href=socialLink.href, title=socialLink.type.charAt(0).toUpperCase() + socialLink.type.slice(1), rel="syndication")
                include ./icon.pug
                +icon(socialLink.type)
      .tags
        if entry.tags && entry.tags.length
          each tag in entry.tags 
            a.tag.p-category(href=`/feed/tag/${tag.value}`, title=`See all feed posts tagged "${tag.text}"` rel="category tag") #{tag.text}