mixin microEntry(entry, standalone=false)
  .entry
    header 
      .post-icon
        include ../../icons/lightbulb.svg
      h2
        if standalone 
          | #{entry.title}
        else
          a(href=`/micro/entry/${entry.slug}`, target="_blank") #{entry.title}
    section.post-meta
      | by Molly White on 
      time(datetime=entry.createdAt.toISOString()) #{entry.datetime}
    .post-content
      each block in entry.html
        != block